body{
    font-family: 'Barlow', sans-serif;
    background-color: #E6E6FA;
    min-height: 100vh;
}
h1{
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 900;
    font-size: 120px;
    line-height: 130px;
}
h2{
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}
h3{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
}
.h3{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
}
h4{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}
.pinkText{
    color: #CFB0C1;
}
#purpleText{
    color: #E6E6FA;
}
header{
    position:fixed;
    width: 100%;
    height: 100px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
}
.logo{
    width: 97px;
    padding: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    height: 90px;
}
.navigation{
    width: 100%;
    padding: 1%;
    background-color:#1D2515;
}
ul{
  width: 50%;
  margin-left: auto;
  display: flex;
  position: absolute;
  right: 35%;
  justify-content:space-evenly;
  top: 25%;
}
.heroImg{
   height: 600px;
   padding: 25px;
   background-color: #D5D9C3;
   padding-left: 5px;
   border-radius: 15px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content{
    width: 500px;
    margin: 0 auto;
}
.picMe{
    height: 90%;
    position:absolute;
    left: 0px;
    top: 15%;
    padding: 3%;
}
#hello{
    position: absolute;
    color: #1D2515;
    right: 20%;
    top: -125px;
    left: -35%;
}
.words{
    position:absolute;
    left: 450px;
    top: 25%;
    padding: 5%;
    padding-top: 2%;
}
#wordChunk{
    position: relative;
    top: 80px;
}
.button{
    padding: 15px;
    position: absolute;
    right: 5%;
    top: 35%;
    border-radius: 15px;
}
footer{
    background-color: #1D2515;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    right: 0%;
    left: 0%;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}