body{
    font-family: 'Barlow', sans-serif;
}

.logo{
    width: 23%;
    padding: 5%;
    text-align: center;
}
.navigation{
    width:100%;
    padding: 1%;
    background-color:#1D2515;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}
ul{
  width: 50%;
  margin-left:auto;
}