body{
    font-family: 'Barlow', sans-serif;
}

.logo{
    width: 23%;
    padding: 5%;
    text-align: center;
}
.navigation{
    width: 100%;
    padding: 1%;
    background-color:#1D2515;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
}
ul{
  width: 50%;
  margin-left: auto;
}
.heroImg{
   height: 600px;
   padding: 25px;
}
.content{
    width: 500px;
    margin: 0 auto;
}